<mat-card>
  <form (submit)="onAddReview(reviewForm)" #reviewForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="Review Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a review title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Review Content"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter review content.</mat-error>
    </mat-form-field>
    <div></div>
    <button
      mat-raised-button
      color="accent"
      type="submit" >Save Review</button>
  </form>
</mat-card>
<div></div>
<div>
  <mat-accordion multi=true *ngIf="reviews.length > 0">
    <mat-expansion-panel *ngFor="let review of reviews">
      <mat-expansion-panel-header>
        <b>"{{ review.title }}"</b> &nbsp; by {{ review.author }}
      </mat-expansion-panel-header>
      <a>{{ review.content }}</a>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" *ngIf="reviews.length <= 0">No reviews added.</p>
</div>
