<h1>{{ courseInfo.subject + " " + courseInfo.catalog_nbr}}</h1>
<mat-card>
  <form (submit)="onAddReview(reviewForm)" #reviewForm="ngForm">
    <h3>Write a Review</h3>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="Review Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a review title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Review Content"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter review content.</mat-error>
    </mat-form-field>
    <div></div>
    <button
      mat-raised-button
      color="accent"
      type="submit" >Save Review</button>
  </form>
</mat-card>
<div></div>
<div>
  <mat-accordion multi=true *ngIf="courseReviews.length > 0">
    <mat-expansion-panel *ngFor="let review of courseReviews">
      <mat-expansion-panel-header>
        <b>"{{ review.title }}"</b> &nbsp; by {{ review.author }}
      </mat-expansion-panel-header>
      <a>{{ review.content }}</a>
      <div *ngIf="isAdmin">
        <mat-action-row>
          <mat-checkbox class="checkbox" [(ngModel)]="review.flag" [ngModelOptions]="{standalone: true}">Flag</mat-checkbox>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="isAdmin">
  <button
  mat-raised-button color="accent"
  (click)="onSave()"
  type="submit">Save Changes</button>
</div>
