<mat-card>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
    <mat-form-field>
      <input matInput
      name="email"
      type="email"
      ngModel
      placeholder="E-Mail"
      required
      email
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
      name="password"
      type="password"
      ngModel
      placeholder="Password"
      required
      #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <div>
      <button
      mat-raised-button color="accent"
      type="submit">Signup</button>
    </div>
  </form>
</mat-card>
