<mat-card>
  <form (submit)="onSaveSchedule(scheduleForm)" #scheduleForm="ngForm">
    <mat-form-field>
      <input matInput
      type="text"
      name="name"
      ngModel
      required
      minlength="3"
      placeholder="Schedule Name"
      #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter a schedule name.</mat-error>
    </mat-form-field>
    <div>
      <button
      mat-raised-button color="accent"
      type="submit">Save Schedule</button>
    </div>
  </form>
</mat-card>
