<mat-card>
  <form (submit)="onUpdatePassword(updateForm)" #updateForm="ngForm">
    <a>Update Password</a>
    <mat-form-field>
      <input matInput
      name="password"
      type="password"
      ngModel
      placeholder="Update Password"
      required
      #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Please updated your password.</mat-error>
    </mat-form-field>
    <div>
      <button
      mat-raised-button color="accent"
      type="submit">Update</button>
    </div>
  </form>
</mat-card>
<div></div>
<mat-accordion multi=true *ngIf="schedules.length > 0">
  <mat-expansion-panel *ngFor="let schedule of schedules">
    <mat-expansion-panel-header>
      <b>{{ schedule.name}}</b> &nbsp; by {{ schedule.author }} &nbsp; {{ schedule.date.date }}
    </mat-expansion-panel-header>
    <p>
      {{ schedule.description }}
    </p>
    <p *ngFor="let course of schedule.courses">{{ course.subject + " " + course.catalog_nbr + ": " + course.course_info.start_time + " " + course.course_info.end_time }} </p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', schedule.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(schedule.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" *ngIf="schedules.length <= 0">No schedules added.</p>
<div></div>
<div *ngIf="isAdmin">
  <mat-accordion multi=true *ngIf="users?.length > 0">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <b>{{ user.name}}</b>
      </mat-expansion-panel-header>
      {{ user.email}}
      <mat-action-row>
        <mat-checkbox class="checkbox" [(ngModel)]="user.activated" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" *ngIf="users.length <= 0">No schedules added.</p>
</div>
<div *ngIf="isAdmin">
  <button
  mat-raised-button color="accent"
  (click)="onSave()"
  type="submit">Save Changes</button>
</div>

