<mat-card>
  <form (submit)="onUpdatePassword(updateForm)" #updateForm="ngForm">
    <a>Update Password</a>
    <mat-form-field>
      <input matInput
      name="password"
      type="password"
      ngModel
      placeholder="Update Password"
      required
      #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Please updated your password.</mat-error>
    </mat-form-field>
    <div>
      <button
      mat-raised-button color="accent"
      type="submit">Update</button>
    </div>
  </form>
</mat-card>
<div></div>
<div *ngIf="isAdmin">
  <mat-accordion multi=true *ngIf="users.length > 0">
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <b>{{ user.name}}</b>
      </mat-expansion-panel-header>
      {{ user.email}}
      <mat-action-row>
        <mat-checkbox class="checkbox" [(ngModel)]="isAdmin" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="mat-body-1" *ngIf="users.length <= 0">No schedules added.</p>
</div>
